.signup{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-row: 1fr, 1fr;
	background-color: #BEC0C0;
	

	.text{
		grid-columns: 1;
		color:#000000;
		padding-left: 10rem;
p{
	color: #000000;
}
	}
	.form{
		grid-columns:2 / span 3;
		align-self: center;
		padding-left: 10rem;

	}
	label{
		font-family: 'Tomorrow', sans-serif;
	}
}