.subheader {
	padding: 1.5rem;
	background-color: #BEC0C0;
}
	
.menu{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin:0;
	padding:0;
	list-style: none;
	font-size: 2rem;

	li{
		text-align: center;
	}
}
.voice-assistance1{
	grid-column: 2 / span 2;
}

.logo{
	display: grid;
	grid-column: 1;
	width: 10%;

}

