h1{
	font-family: 'Tomorrow', sans-serif;
	text-transform: uppercase;
	font-size: 1.7rem;
}

h2{
	font-family: 'Tomorrow', sans-serif;
	font-size: 2rem;
	}

	p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5rem;

	}
	.menu a{
		font-family: 'Tomorrow', sans-serif;
		color: #000000;
	}