h1{
	font-family: 'Staatliches', cursive;
	text-transform: uppercase;
	font-size: 1.7rem;
}

h2{
	font-family: 'Staatliches', cursive;
	font-size: 2rem;
	}

	p{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.5rem;

	}